<div id="admin-template">
    <article class="wrapper">
        <aside class="sidebar">

            <ul class="sidebar-nav">
                <li>
                    <a class="sidebar-toggle">
                        <i class="fa fa-bars"></i>
        </a>
                </li>
                <li class="active"><a href="#dashboard" class="tabClick" data-toggle="tab"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="#configuration" class="tabClick" data-toggle="tab"><i class="fa fa-cogs"></i> <span>Configuration</span></a></li>
                <li><a id="showMe" href="#users" class="tabClick" data-toggle="tab"><i class="fa fa-users"></i> <span>Users</span></a></li>
                <li><a href="#alltickets" class="tabClick" data-toggle="tab"><i class="fa fa-ticket"></i> <span>Tickets</span></a></li>
                <li><a href="#categories" class="tabClick" data-toggle="tab"><i class="fa fa-tags"></i> <span>Categories</span></a></li>
            </ul>
        </aside>

        <section class="main">

            <section class="tab-content">

                <section class="tab-pane active fade in content" id="dashboard">
                    <div class="row">

                        <div class="col-xs-8 col-sm-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Developer Workflow
                                </div>
                                <div class="panel-body">
                                    <canvas id="pieChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>

                        {{!--table taks--}}

                        <div class="col-xs-12 col-sm-6 col-md-6 table-user-tickets">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{data.1.assignee}}</h3>
                                    <div class="pull-right">
                                        <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers"
                                    />
                                </div>
                                <table class="table table-hover" id="dev-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Author</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each data}}
                                        <tr>
                                            <td>{{@index}}</td>
                                            <td>{{title}}</td>
                                            <td>{{category}}</td>
                                            <td>{{author}}</td>
                                            <td>{{description}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </section>

                {{!--config--}}
                <section class="tab-pane fade" id="configuration">
                </section>

                {{!--users--}}

                <section class="tab-pane fade" id="users">

                </section>

                {{!--categories--}}
                <section class="tab-pane fade" id="categories">

                </section>

                {{!--tickets--}}
                <section class="tab-pane fade" id="alltickets">

                </section>


            </section>
            </div>